.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    height: 16px;
    outline: none;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #F9A400;
}

.rateit .rateit-range:before {
    content: "\fb98 \fb98 \fb98 \fb98 \fb98";
}

.rateit .rateit-hover:before
{
    content: "\fb99 \fb99 \fb99 \fb99 \fb99";
}

.rateit .rateit-selected:before
{
    content: "\fb99 \fb99 \fb99 \fb99 \fb99";
}

.rateit .rateit-reset:hover:before
{
    content: "\fb98 \fb98 \fb98 \fb98 \fb98";
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit-desc {
    font-size: 16px;
    margin-left: 7px;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
    top: 0;
    overflow: hidden;
    display: inline-block;
}

.rateit .rateit-hover {
    display: none;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}


.rateit .rateit-hover-rtl
{
    background-position: right -32px;
}


.rateit .rateit-selected-rtl
{
    background-position: right -16px;
}


/*small star*/

.rateit.small .rateit-range
{
    font-size: 12px;
    height: 12px;
}


/*big star*/


.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}

span.bigstars span.rateit-range
{
    font-size: 32px;
    height: 32px;
}

span.bigstars span.rateit-range:before {
    content: "\fb98 \fb98 \fb98 \fb98 \fb98";
}

span.bigstars span.rateit-hover:before
{
    content: "\fb99 \fb99 \fb99 \fb99 \fb99";
}

span.bigstars span.rateit-selected:before
{
    content: "\fb99 \fb99 \fb99 \fb99 \fb99";
}

span.bigstars div.rateit-reset:hover:before
{
    content: "\fb98 \fb98 \fb98 \fb98 \fb98";
}
